/* Colors */

$white: hsl(0, 0%, 100%);
$grey: rgba(151, 151, 151, 1);
$grey-dark: rgba(68, 68, 68, 1);
$black: rgba(0, 0, 0, 1);
$title: rgba(0, 0, 0, 1);
$text: rgba(160, 160, 160, 1);

/* Font */
$ff: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fs-xs: .75rem;
$fs-s: 1.4rem;
$fs-m: 1.75rem;
$fs-l: 2.5rem;
$lh-xs: .84rem;
$lh-s: 1rem;
$lh-m: 1.25rem;
$lh-l: 1.96rem;
$lh-xl: 2.8125rem;
$ls-m: .3125rem;
$ls-negative-s: -.11rem;
$ls-negative-m: -.015625;
$ls-negative-l: -.073125;